.tag {
	background: #ccc;
	padding: 0.5rem 1rem;
	border-radius: 999px;
	cursor: pointer;

	&--pending {
		background: #76c6fd;
	}

	&--upcoming {
		background: #5ecdaa;
	}

	&--active {
		background: #f980bd;
	}
}
